<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length > 0 ){%>
            <ul>
                <% orders.forEach((order)=>{ %>
                    <h1># <%= order.id %></h1>
                    <% order.products.forEach((product)=>{ %>
                        <li><%= product.title %>(<%= product.orderItem.quantity %>)</li>
                        <% }) %>
                        <hr>
                    <% }) %>
            </ul>
            <% }else{ %>
                <h1>No orders.</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>